<header class="header">
    <div><h1 id="pageTitle">Dashboard</h1><p>Welcome back, Administrator</p></div>
    <button class="btn-primary" id="btnAddUser"><i class='bx bx-plus'></i><span>Add User</span></button>
</header>
