<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Manager</title>
    <link rel="stylesheet" href="/index.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    {{> sidebar}}

    <main class="main-content">
        {{> header}}

        {{> sections/overview}}
        {{> sections/search}}
        {{> sections/country}}
        {{> sections/viewall}}
        {{> sections/health}}

    </main>

    {{> modals/user-modal}}

    <script src="/js/app.js"></script>
</body>
</html>